body {
  font-family: Avenir Next;
}

main {
  margin: 2vw;
}

#hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hobbiespictures {
  font-weight: bold;
  border: solid gray 2px;
  border-radius: 50px;
  width: 25vw;
  height: 10vw;
  padding: 2vw;
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hobbiestennis {
  backgound-image: url(/pictures/Tennis.jpg);
}

#hobbiespiano {
  background-image: url(/pictures/104BD726-A215-4B31-8693-9F8887390669.jpeg);
  color: #FFFFFF;
}

#hobbiescoding {
  background-image: url(/pictures/7E472E51-7D47-42FB-954F-7A97488D5D44.jpeg);
}
