body {
  font-family: Avenir Next;
}

main {
  margin: 20px;
}

#hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hobbiespictures {
  border: solid gray 2px;
  border-radius: 20px;
}
